.container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0 , 0.6);
}

.whiteBox{
    background-color: rgba(255, 255, 255 , 1);
    width: 35%;
    height: 30%;
    border-radius: 15px;
}

.top{
    /* border: 1px solid red; */
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bigText{
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 2px;
}

.smallText{
    font-size: 14px;
    color: rgb(104, 104, 104);
    margin-top: 1px;
}

.bottom{
    /* border: 1px solid red; */
    width: 100%;
    height: 24%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.line{
    margin: 0;
}

.redText{
    color: red;
    font-weight: 600;
    font-size: 16px;
}

.blackText{
    font-size: 16px;
}