.container{
    display: none;
}

.innerContainer{
    /* border: 1px solid red; */
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.elementCont{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 26px;
}

@media only screen and (max-width: 767px) {
    .container{
        position: fixed;
        bottom: 0;
        display: flex;
        border: 1px solid rgb(209, 209, 209);
        width: 100vw;
        height: 48px;
        justify-content: center;
        align-items: center;
    }
}